@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
/*Reset*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*Esta es mi hoja de estilos css*/
.syncopate-regular {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.syncopate-bold {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*Aquí termina la importación de la tipografía*/
body {
  font-family: Syncopate;
  background-color: #152B3F;
  /* padding-left: 4rem;
  padding-right: 4rem; */
  padding-top: 0rem;
  padding-bottom: 1rem;
}

/* media querys */
@media (max-width: 600px) {
  main {
    /* sin important el 1fr no se aplicaba*/
  }
  main .treeCardsSection {
    grid-template-columns: 1fr !important;
    gap: 0.5rem;
  }
  main .treeCardsSection .mainCard {
    padding: 1.2rem !important;
    max-width: 95% !important;
  }
  main .formContainer .formSection {
    width: 100%;
  }
  main .flexSection {
    flex-direction: column;
  }
  main .flexSection .divmitad {
    width: 100%;
  }
  main .contactSection {
    flex-direction: column;
  }
  main section h2 {
    font-size: 1.5rem;
  }
  header nav {
    flex-wrap: wrap;
  }
  header nav ul li {
    display: block;
    padding-top: 0rem;
  }
  /*
  .flexSection {
      flex-direction: column;
  } 

  .contactSection {
      flex-direction: column;
  } */
  /*
  nav {
      flex-wrap: wrap;
  }

  nav ul li {
      display: block;
      padding-top: 0rem;
  } */
  /*
  .treeCardsSection {
      grid-template-columns: 1fr;
      gap: 0.5rem;
  } */
  /*
  .formSection {
      width: 100%;
  } */
  /*
  section .divmitad {
      width: 100%;
  } */
}
/* Cambios de bootstrap */
.navbar-collapse {
  flex-grow: 0;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.navbar-nav .nav-link.active {
  color: #D9C0A4 !important;
}

.nav-link {
  color: #D9C0A4;
}

.nav-link:hover {
  color: white !important;
}

.navbar-nav {
  align-items: center;
  gap: 1rem;
  color: #D9C0A4 !important;
}

.bg-body-tertiary {
  background-color: #152B3F !important;
}

.navbar-toggler {
  background-color: #FFAD0D;
}

/* Clases sueltas */
.mainButton {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  background-color: #FFAD0D;
  text-decoration: none;
  color: #152B3F;
  border-radius: 1rem;
  border: 0rem;
  font-family: Syncopate;
  border: none;
  font-weight: 700;
}

.contactCTA {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem !important;
  margin-top: 0.5rem;
  padding-left: 1.5rem !important;
  background-color: #FFAD0D;
  text-decoration: none;
  color: #152B3F !important;
  border-radius: 1rem;
  border: 0rem;
  width: 100%;
  font-family: Syncopate;
  border: none;
  font-weight: 700;
}

.cardButton {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  margin-top: 0.5rem;
  padding-left: 1.5rem;
  background-color: #FFAD0D;
  text-decoration: none;
  color: #152B3F;
  border-radius: 1rem;
  border: 0rem;
  width: 100%;
  font-family: Syncopate;
  border: none;
  font-weight: 700;
}

/*
.mainCard {
    border: #FFAD0D solid 0.3rem;
    padding: 2rem;
    border-radius: 2rem;
} */
.secondaryButton {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem !important;
  margin-top: 0.5rem;
  padding-left: 1.5rem !important;
  text-decoration: none;
  color: #D9C0A4;
  border-radius: 1rem;
  border: #D9C0A4 solid 0.2rem;
  background-color: transparent;
  font-family: Syncopate;
  font-weight: 700;
}

.contactSection {
  background-color: white;
  color: #152B3F;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footerSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*
.treeCardsSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
} */
.formSection {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: flex;
  justify-content: center;
}

header {
  position: sticky;
  top: 0;
  padding-top: 0rem;
  padding-bottom: 0.7rem;
  background-color: #152B3F;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
header nav ul li {
  list-style: none;
  font-weight: 700;
  display: inline-block;
  font-size: 0.8rem;
}
header nav ul li a {
  color: #D9C0A4;
}

fieldset {
  color: #D9C0A4;
  border: transparent;
  font-weight: 700;
}
fieldset input {
  margin-top: 0.5em;
  margin-bottom: 0.5rem;
  width: 100%;
  height: 3rem;
  padding: 0.2rem;
  border-radius: 4rem;
  border: transparent;
}

main .treeCardsSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
main .treeCardsSection .mainCard {
  border: #FFAD0D solid 0.3rem;
  padding: 2rem;
  border-radius: 2rem;
}
main .treeCardsSection .mainCard img {
  width: 100%;
}
main section {
  padding-left: 2rem;
  padding-right: 2rem;
}
main section .divmitad {
  width: 50%;
}
main section h1 {
  color: #D9C0A4;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.8rem;
}
main section h2 {
  color: #D9C0A4;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.6rem;
}
main section p {
  color: #D9C0A4;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
main .flexSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
}
main .contactSection div h2 {
  color: #152B3F;
}

section ul li {
  color: #D9C0A4;
}

footer p {
  color: #D9C0A4;
}

img {
  /* pasada a sass */
  max-width: 100%;
  height: auto;
}

/*# sourceMappingURL=estilos.css.map */
