@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
/*Reset*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

/*Esta es mi hoja de estilos css*/

.syncopate-regular {
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .syncopate-bold {
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

/*Aquí termina la importación de la tipografía*/

body{ 
    font-family: Syncopate;
    background-color: #152B3F;
    /* padding-left: 4rem;
    padding-right: 4rem; */
    padding-top: 0rem;
    padding-bottom: 1rem;
}

main section h2 { /* pasada a sass */
  color: #D9C0A4;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.6rem;
}

main .contactSection div h2 { /* pasada a sass */
  color: #152B3F;
}

main section h1 { /* pasada a sass */
    color: #D9C0A4;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.8rem;
}

main section p { /* pasada a sass */
    color: #D9C0A4;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mainButton{ /* pasada a sass */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-color: #FFAD0D;
    text-decoration: none;
    color: #152B3F;
    border-radius: 1rem;
    border: 0rem;
    font-family: Syncopate;
    border: none;
    font-weight: 700;
}
footer p{ /* pasada a sass */
  color: #D9C0A4;
}

section ul li { /* pasada a sass */
  color: #D9C0A4;
}

nav ul li { /* pasada a sass */
  list-style: none;
  font-weight: 700;
  display: inline-block;
  font-size: 0.8rem;
}

nav { /* pasada a sass */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

header { /* pasada a sass */
  position: sticky;
  top: 0;
  padding-top: 0rem;
  padding-bottom: 0.7rem;
  background-color: #152B3F;
}

nav ul li a { /* pasada a sass */
  color: #D9C0A4;
}

/*Tengo que borrar este estilo, solo se lo he puesto para darle mejor aspecto a la primera entrega
img {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
*/

fieldset { /* pasada a sass */
  color: #D9C0A4;
  border: transparent;
  font-weight: 700;
}

fieldset input { /* pasada a sass */
  margin-top:0.5em;
  margin-bottom: 0.5rem;
  width: 100%;
  height: 3rem;
  padding: 0.2rem;
  border-radius: 4rem;
  border: transparent;
}

.contactCTA { /* pasada a sass */
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem !important;
  margin-top: 0.5rem;
  padding-left: 1.5rem !important;
  background-color: #FFAD0D;
  text-decoration: none;
  color: #152B3F !important;
  border-radius: 1rem;
  border: 0rem;
  width: 100%;
  font-family: Syncopate;
  border: none;
  font-weight: 700;
}

.cardButton { /* pasada a sass */
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  margin-top: 0.5rem;
  padding-left: 1.5rem;
  background-color: #FFAD0D;
  text-decoration: none;
  color: #152B3F;
  border-radius: 1rem;
  border: 0rem;
  width: 100%;
  font-family: Syncopate;
  border: none;
  font-weight: 700;
}

.mainCard { /* pasada a sass */
  border: #FFAD0D solid 0.3rem;
  padding: 2rem;
  border-radius: 2rem;
}

.secondaryButton { /* pasada a sass */
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem !important;
  margin-top: 0.5rem;
  padding-left: 1.5rem !important;
  text-decoration: none;
  color: #D9C0A4;
  border-radius: 1rem;
  border: #D9C0A4 solid 0.2rem;
  background-color: transparent;
  font-family: Syncopate;
  font-weight: 700;
}

.contactSection { /* pasada a sass */
  background-color: white;
  color: #152B3F;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

section { /* pasada a sass */
  padding-left: 2rem;
  padding-right: 2rem;
}

main .flexSection { /* pasada a sass */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
}

.footerSection { /* pasada a sass */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.treeCardsSection { /* pasada a sass */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

main .treeCardsSection .mainCard img { /* pasada a sass */
  width: 100%;
}

.formSection { /* pasada a sass */
  width: 50%;
  display: flex;
  flex-direction: column;
}

.formContainer { /* pasada a sass */
  display: flex;
  justify-content: center;  
}

img { /* pasada a sass */
  max-width: 100%;
  height: auto;
}

section .divmitad { /* pasada a sass */
  width: 50%;
}

@media (max-width: 600px) {
  .flexSection {
    flex-direction: column;
  }
  .contactSection {
    flex-direction: column;
  }
  nav {
    flex-wrap: wrap;
  }
  nav ul li{
    display: block;
    padding-top: 0rem;
  }
  .treeCardsSection {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
  .formSection {
    width: 100%;
  }
  
  section .divmitad {
  width: 100%;
}

}

/* Cambios de bootstrap, ya pase todo esto a scss */ 

.navbar-collapse {
  flex-grow: 0;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.navbar-nav .nav-link.active {
  color: #D9C0A4 !important;
}

.nav-link {
  color: #D9C0A4;
}

.nav-link:hover{
  color: white !important;
}

.navbar-nav {
  align-items: center;
  gap: 1rem;
  color: #D9C0A4 !important;
}

.bg-body-tertiary {
  background-color: #152B3F !important;
}

.navbar-toggler{
background-color: #FFAD0D;
}