/* media querys */

@media (max-width: 600px) {

    main {

        /* sin important el 1fr no se aplicaba*/
        .treeCardsSection {
            grid-template-columns: 1fr !important;
            gap: 0.5rem;
            .mainCard {
                padding: 1.2rem !important;
                max-width: 95% !important;
                .cardButton {
                    font-size: 0.8rem;
                }
            }
        }

        .formContainer {
            .formSection {
                width: 100%;
            }
        }

        .flexSection {
            flex-direction: column;
                .divmitad {
                width: 100%;
            }
        }

        .contactSection {
            flex-direction: column;
        }
        section {
            h2 {
                font-size: 1.5rem;
            }
        }
    }

    header {
        nav {
            flex-wrap: wrap;

            ul {
                li {
                    display: block;
                    padding-top: 0rem;
                }
            }
        }
    }

    /*
    .flexSection {
        flex-direction: column;
    } 

    .contactSection {
        flex-direction: column;
    } */

    /*
    nav {
        flex-wrap: wrap;
    }

    nav ul li {
        display: block;
        padding-top: 0rem;
    } */

    /*
    .treeCardsSection {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    } */
    /*
    .formSection {
        width: 100%;
    } */


    /*
    section .divmitad {
        width: 100%;
    } */

}